<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html  ng-app="ticketsApp">
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Material Design Lite</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/android-desktop.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">


  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" type="text/css" href="style.css"/>
  <link rel="stylesheet" type="text/css" href="jquery-ui.css"/>
  
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.css" />

  <script src="jquery.js"></script>
  <script src="jquery.elastic.source.js" type="text/javascript" charset="utf-8"></script>
  <script src="angular.min.js"></script>



  <script src="jquery-ui.js"></script>
  <script src="sortable.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>


  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.cyan-light_blue.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="my.css">

</head>
<body>


  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><b>DASHBOARD</b></span>
        <div class="mdl-layout-spacer"></div>
        <a href="javascript:return(0)" id="show-dialog" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Create Ticket</a>
      </div>
    </header>

    <main class="mdl-layout__content mdl-color--grey-200">

     <div class="  mdl-cell mdl-cell--12-col mdl-grid">

     </div>

     <div  ng-controller="connectedController" class="mdl-grid demo-content connectedItemsExample">

      <dialog class="mdl-dialog">
       <div class="mdl-card__title mdl-card--expand mdl-color--blue-300 my-dialog-title">
        <h2 class="mdl-card__title-text">Create ticket</h2>
      </div>
      <div class="mdl-dialog__content">

        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label my-dialog-input">
            <input class="mdl-textfield__input" type="text" id="sample3"  ng-model="title" ng-init="title=''">
            <label class="mdl-textfield__label" for="sample3">Title:</label>
          </div>
        </form>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label my-dialog-input">
          <textarea class="mdl-textfield__input" type="text" id="sample3" rows=3  ng-model="description" ng-init="description=''"></textarea>
          <label class="mdl-textfield__label" for="sample3">Description:</label>
        </div>

      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close" data-ng-click="toDoArray.push({title:title==''?'...':title,description:description==''?'...':description});title='';description=''">Create</button>
        <button type="button" class="mdl-button close">Cancel</button>
      </div>
    </dialog>

    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing title-column">
      <span class="mdl-card__title-text"><b>TO DO:</b></span>
    </div>
    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing title-column">
      <span class="mdl-card__title-text"><b>IN PROCESS:</b></span>
    </div>
    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing title-column">
      <span class="mdl-card__title-text"><b>DONE:</b></span>
    </div>

    <div ui-sortable="sortableOptions" ng-model="toDoArray" class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing list my-column">
	


      <div  ng-repeat="item in toDoArray" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop my-ticket-box">
        <div class="mdl-card__title mdl-card--expand mdl-color--red-300 my-ticket-box-title">
          <h2 class="mdl-card__title-text"><pre><edit-in-place value="item.title"></edit-in-place></pre>

            <svg style=cursor:pointer data-ng-click="toDoArray.splice($index,1);" fill="#fff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600 my-ticket-box-text">
         <pre><edit-in-place value="item.description"></edit-in-place></pre>
       </div>
     </div>			
    


   </div>


   <div ui-sortable="sortableOptions" ng-model="inProgressArray"  class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing list my-column">
    <div  ng-repeat="item in inProgressArray" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop my-ticket-box">
      <div class="mdl-card__title mdl-card--expand mdl-color--orange-300 my-ticket-box-title">
        <h2 class="mdl-card__title-text"><pre><edit-in-place value="item.title"></edit-in-place></pre>
          <svg style=cursor:pointer data-ng-click="inProgressArray.splice($index,1);" fill="#fff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>

        </h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600 my-ticket-box-text">
       <pre><edit-in-place value="item.description"></edit-in-place></pre>
     </div>
   </div>
  
 </div>


 <div ui-sortable="sortableOptions" ng-model="doneArray" class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing list my-column">
  <div  ng-repeat="item in doneArray" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop my-ticket-box">
    <div class="mdl-card__title mdl-card--expand mdl-color--green-300 my-ticket-box-title">
      <h2 class="mdl-card__title-text"><pre><edit-in-place value="item.title"></edit-in-place></pre>

        <svg style=cursor:pointer data-ng-click="doneArray.splice($index,1);" fill="#fff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>

      </h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600 my-ticket-box-text"> 
     <pre><edit-in-place value="item.description"></edit-in-place></pre>
   </div>

 </div>

</div>



</div>
</main>
</div>




<script>

var myapp = angular.module('ticketsApp', ['ui.sortable']);

myapp.buildArray = function(name, size) {
  var i, array = [];
  for (i = 1; i <= size; i++){
    array.push({
      title: name + ' ' + i ,
      description: "sometext"
    });
  }

  return array;
};



myapp.controller('connectedController', function ($scope) {


  $scope.toDoArray = [{title:"Создать шапку", description:"Тестовое описание задачи"}];
  $scope.inProgressArray = myapp.buildArray('In progress', 5);
  $scope.doneArray = myapp.buildArray('Done', 3);

  
  $scope.sortableOptions = {
    connectWith: '.connectedItemsExample .list'
  };
  
});

myapp.directive( 'editInPlace', function() {

  return {
    restrict: 'E',
    scope: { value: '=' },
    template: '<span ng-click="edit()" ng-bind="value"></span><textarea ng-model="value" class=hiddeninput ></textarea>',
    link: function ( $scope, element, attrs ) {
      // Let's get a reference to the input element, as we'll want to reference it.
      var inputElement = angular.element( element.children()[1] );

      // This directive should have a set class so we can style it.
      element.addClass( 'edit-in-place' );

      // Initially, we're not editing.
      $scope.editing = false;
      
      // ng-click handler to activate edit-in-place
      $scope.edit = function () {


       if (element.parent().parent().attr('class')=="mdl-card__title-text")
         element.parent().find("textarea").css("color","#fff");
       else 
        element.parent().find("textarea").css("color","#757575");

	  // element.css("color", element.parent().css("color"));
    $scope.editing = true;
    if ($scope.value=="...") $scope.value="";

        // We control display through a class on the directive itself. See the CSS.
        element.addClass( 'active' );
        $(element.children()[1]).elastic();
        $(element.children()[1]).trigger('update');
        // And we must focus the element. 
        // `angular.element()` provides a chainable array, like jQuery so to access a native DOM function, 
        // we have to reference the first element in the array.
        inputElement[0].focus();
      };

      // When we leave the input, we're done editing.
      inputElement.on( 'blur', function() {

       if ($scope.value.split("\n").join("")=="")  {$scope.value="...";$scope.$apply();}
       $scope.editing = false;
       element.removeClass( 'active' );
     });
    }
  };
});

var dialog = document.querySelector('dialog');
var showDialogButton = document.querySelector('#show-dialog');

if (! dialog.showModal) {
  dialogPolyfill.registerDialog(dialog);
}
showDialogButton.addEventListener('click', function() {
  dialog.showModal();
});
$('.close').on('click', function() {
  dialog.close();
});


</script>



</body>
</html>
