body {
	background:#ddd !important;
}

._dialog_overlay {
z-index:0 !important;	
}

.mdl-dialog {
	width:400px;
}

.title-column .mdl-card__title-text {
	opacity:0.15;
}

.mdl-layout__header-row {
	padding:0 20px 0 20px;
}
pre {
	margin:0px;
	padding:0px;
}
.hiddeninput {
	width:140px;
	resize: none;
}
textarea, input { 
	outline: none; border:0px;
	font-family: monospace;
	font-size:1rem;
	font-style:italic;
}
.edit-in-place span {
	cursor: text;
}

.edit-in-place .hiddeninput {
	background:transparent;
	font-size:10pt;
	display: none;
}
.edit-in-place span {
	width:120px;
	/* For Firefox */
	white-space: pre-wrap;
	word-break: break-all;

	/* For Chrome and IE */
	word-wrap: break-word;
	display:block;
	font-size:10pt;
}

.edit-in-place.active span {
	display: none !important;
}

.edit-in-place.active .hiddeninput {
	display: block;
}

.ui-sortable-placeholder {
	background:#eee;
	visibility:visible !important;
}
.my-ticket-box {
	min-height:0px;
	margin:7px  !important;
	width:150px !important;
}
.my-ticket-box-title {
	min-height:0px !important;
	background-image:none !important;
	padding:5px;
}
.my-ticket-box-title h2 {
	font-size:10pt;
}
.my-dialog-title {
	min-height:0px;
	background-image:none;
	color:white;
}
.my-ticket-box-text{
	text-align:justify;
	padding:5px;
}
.my-dialog-input {
	width:400px;
}
.demo-content{
	max-width:none;
}
.my-column {
	min-height:500px;

	padding:7px !important;
}